<h2>Methods that were not run</h2><table>
<tr><td>Selenium.Bestseller.Page.setUp</td></tr>
<tr><td>Selenium.Bestseller.Page.setUp</td></tr>
<tr><td>base.bestseller.BaseTest.tearDown</td></tr>
</table>