<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7d6578">  <td>18/07/06 17:44:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProductAddCartTest.addCart()[pri:1, instance:base.bestseller.ProductAddCartTest@3c0ecd4b]">addCart</td> 
  <td>main@343965883</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>18/07/06 17:44:26</td>   <td>13121</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProductAddCartTest.demo()[pri:3, instance:base.bestseller.ProductAddCartTest@3c0ecd4b]">demo</td> 
  <td>main@343965883</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>18/07/06 17:43:57</td>   <td>-15512</td> <td title="&gt;&gt;Page.setUp()[pri:0, instance:base.bestseller.ProductAddCartTest@3c0ecd4b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@343965883</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>18/07/06 17:44:28</td>   <td>14995</td> <td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:base.bestseller.ProductAddCartTest@3c0ecd4b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@343965883</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>18/07/06 17:44:15</td>   <td>2786</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProductAddCartTest.verifyAddToBagDisbaledWithoutSelectSize()[pri:2, instance:base.bestseller.ProductAddCartTest@3c0ecd4b]">verifyAddToBagDisbaledWithoutSelectSize</td> 
  <td>main@343965883</td>   <td></td> </tr>
</table>
